* {
   padding: 0;
    margin: 0;
}

body {
    font-family: 'montserrat', sans-serif;
}

.nav__container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(19, 36, 64, .9);
    z-index: 100;
}

.nav__container ul {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
}


.nav__container li {
    display: inline-block;
    line-height: 60px;
    font-size: 12px;
    margin: 0 6px;
}

.nav__container li a {
    text-decoration: none;
    color: #f9f9fb;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}



.header__container {
    height: 400px;
    background-image: url('../img/header_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header__container h1,h2,h3 {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
}
.header__container h1 {
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
}

.header__container h2 {
    font-size: 4em;
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: 400;
}

.header__container h3 {
    font-size: 1em;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.title__container {
    position: relative;
    top: 55%;
    transform: translateY(-50%);
}

.about__container {
    padding: 2em 0;
    background-color: #132440;
}

.about__container h2 {
    font-size: 1.3em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'montserrat', sans-serif;
}

.about__container p {
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    color: rgba(255,255,255, .75);
    text-align: left;
    line-height: 1.7em;
    width: 85%;
    margin: 1em auto 3em auto;
    
}

.about__container button {
    display: block;
    margin: 1em auto;
    background-color: #DE4947;
    color: #f9f9fb;
    border: none;
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
    width: 100px;
    height: 50px;
}

.recipe__container {
    background-color: #132440;
}

.recipe__img {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flat_white {
    background-image: url('../img/flat_white.jpg'); 
}

.heart_latte {
    background-image: url('../img/heart_latte.jpg');   
}

.long_black {
    background-image: url('../img/long_black.jpeg');    
}

.white_mocha {
    background-image: url('../img/white_mocha.jpg');    
}

.mocha {
    background-image: url('../img/mocha.jpg');
}

.recipe__description h1 {
    color: #f9f9fb;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    padding-bottom: 1em;
}

.recipe__description {
    padding: 2em 0;
    width: 100%;
    margin: 0 auto;
    color: rgba(255,255,255, .75);
}


.recipe__description li {
    text-align: center;
    list-style-type: none;
    font-size:  14px;
    font-family: 'open sans', sans-serif;
}

.recipe__description button {
    display: block;
    margin: 2em auto 0 auto;
    border: solid 2px #DE4947;
    background-color: #132440;
    color: #f9f9fb;
    font-size: 16px;
    font-family: 'montserrat', sans-serif;
    width: 100px;
    height: 50px;
    transition: .4s;
    cursor: pointer;
}

    .recipe__description button:hover {
        background-color: #de4947;
    }

.footer__container {
    border-top: solid 1px #f9f9fb;
    background-color: #132440;
    padding: 3em 0 1em 0;
}

.footer__align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.footer__align img {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

@media (min-width: 600px) {
    
    .header__container {
        height: 500px;
    }
    
    .header__container h1,h2,h3 {
        line-height: 90px;
}
    .header__container h1 {
        font-size: 4em;
}

    .header__container h2 {
        font-size: 5em;

}

    .header__container h3 {
        font-size: 1.2em;

}
    
    .about__container h2 {
        font-size: 1.6em;   
    }
    
    .recipe__img {
    height: 350px;
    }
    
    .recipe__description {
        padding: 4em 0;
    }
    
}

@media (min-width: 900px) {
    
    .nav__container li {
        font-size: 14px;
        margin: 0 12px;
}
    
    .header__container {
        height: 700px;
    }
    
    .header__container h1 {
        font-size: 5em;
}

    .header__container h2 {
        font-size: 6em;

}

    .header__container h3 {
        font-size: 1.6em;

}
    
    .about__container {
        padding: 6em 0;
    }
    
    .about__container p {
        width: 60%;
    }
    
    .recipe__container {
        height: 500px;
    }
    
    .recipe__img {
        float: left;
        width: 65%;
        padding: 0;
        margin: 0;
        height: 500px;
    }
    
    .recipe__container h1 {
        font-size: 1.4em;
    }
    
    .recipe__container li {
            font-size:  16px;
            letter-spacing: 1px;
    }
    
    .recipe__container button {
        width: 100px;
        height: 50px;
        font-size: 16px;
    }
    
    .recipe__description .center__container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
}
    
    .recipe__description {
        float: right;
        width: 35%;
        padding: 0;
        margin: 0;
        height: 500px;
        background-color: #132440;

    }
    
    .footer__container {
        clear: both;
        border: none;
    }
    
    .recipe__container:nth-child(odd) .recipe__img {
        float: right;
}
    
        .recipe__container:nth-child(odd) .recipe__description {
        float: left;
}